

  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: black;
}

h1,h2,h3,p {
    color: white;
}

h1,h2,h3 {
    font-family:'Monoton', cursive;
    font-weight: 800;
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 25;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}


section div{
    background-color: black;
}

section div h2 {
    color: pink;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}